*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;

}
body{
    color: #ededed;
    background-color: #1f242d;
    
}
.header{
      width: 100%;
     padding: 20px 10%; 
    display:flex;
    justify-content: space-between;
    background-color: black;
    z-index: 100;
    
}

.logo{
    position: relative;

    font-size: 40px;
        color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color:#0ef;
    text-shadow: 0 0 50px #0ef;
    
}
.name{
    color:#0ef;
    text-shadow: 0 0 20px #0ef;
}
 .home{
     position: relative;
    width: 100%;

    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 200px;
    font-size: larger;
    background:#1f242d;
 display: flex;
 flex-wrap: nowrap;
 align-items: center;
 justify-content:space-around;
}
.home-content{
font-size: 20px;
   max-width: 600px;
   margin-top: 200px;
   
}


.social-media{
    padding-top: 20px;
}
.social-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: transparent;
border:2px solid #0ef;
border-radius: 50%;
font-size: 30px;
color: #0ef;
text-decoration: none;
margin:30px 15px 30px 0;
transition: .5s ease;
}
.social-media a:hover{

    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;

}
.button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 0;
    padding: 12px 18px;
    background: #0ef;
    border-radius: 40px;
    text-decoration: none;
    letter-spacing: 0.5px;
    box-shadow: 0 0 20px #0ef;
    font-weight: 600;
    transition: .5s ease;
}
.button:hover{
    box-shadow: none;

}
.image{
    
     border-radius: 50%; 
    box-shadow: 0 0 100px #0ef;
    margin-left: 150px;
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:space-around;
    background:#1f242d ;
    font-size: larger;
    height:80vh;
    
}
.about-content{
 margin-top:10rem; 
 text-align: justify;
 margin-left: 30px ;
}
.about-img img{
    height: 500px;
    background-color: #1f242d;
    border-radius: 50%;
}
.about-img{
    margin-top:200px;
}
.about2{
    font-weight: 700;
    font-size: xx-large;
    margin-left: 80px;
    margin-bottom: 5px;
    position: relative;
    left: 20%;
}
#him{
    margin-top: 200px;
}
/* ----------------------about-end--------------------------------------------------------------------------------------------------------------------- */
/* ----------------------service-start------------------------------------------------------------- */

.services h2{
    margin-bottom: 5rem ;
    text-align: center;
    font-size: 2.6rem;
    margin-top: 14rem;
}
.services-container{
     display: flex;
     justify-content: center;
     align-items: centre;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
   
}
 .services-container .service-box{
    flex: 1 1 20rem;
    background: #2f3546;
    padding: 3rem 2rem 4rem ;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}
.service-box i {
    font-size: 7rem;
    color: #0ef;
}
.service-box h3{
    font-size: 2.6rem;
}
.services-container :hover{
    border-color: #0ef;
    transform: scale(1.02);
}
.service-container .servicebox .button:hover{

}
/* -----------------service container end here---------------------------------------------------- */
.heading0{
    color: #0ef;
    font-size:xx-large;
    text-align: center;
    margin-top: 10rem;


}
.heading1{
    color: #ededed;
    font-size: larger;
    text-align: center;
    margin-top: 0.7;
}
.bar i{
    font-size: 3rem;
}
.skill00{
    height:100vh;
    width: 100vw;
}
.skill-content,.contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 6rem;
}
 .skill-content .column-left{
    width: calc(50% - 30px);
}
.skill-content .column-left .text{
    font-size: 25px ;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: space-around;
    
}
.skill-content .column-left p{
    text-align: justify;
}
 .skill-content .right .bar{
    margin-bottom: 15px;
}
.skill-content .column-right .bar .info{
display: flex;
align-items: center;
justify-content: space-between;


}
.skill-content .column-right{
    width: 40%;
    padding-left: 2rem;
}
.skill-content .column-right .bar span{
font-weight: 500;
font-size:18px ;
}
.skill-content .column-right .bar .line{
    height: 5px;
    width:100%;
    background-color: black;
    margin: 0.5rem;
    position: relative;
}
.skill-content .column-right .bar .line::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background: #0ef;
}
/*------------------------------------skill section end here--------------------------------  -------------- */
/* ----------contact start here----------------------------------------------------------------------- */
.contact{
    width: 100vw;
    height: 110vh;
}
.heading{
    text-align: center;
    margin-top: 15rem;
    font-size: 3rem;
    color: #0ef;
}

.contact .contact-content {
font-family:sans-serif;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;

}
.contact .left p{
    text-align:justify ;
}
.icons i{
    font-size: larger;
}

.contact .right  .fields{
    display: flex;

}
.contact .right .text{
 margin-bottom: 1rem;  
 font-size: 1.5rem;  
}
 .contact .right  .field,.contact .right  .fields .field{
height: 45px;
width: 100%;
margin-bottom: 15px;
} 
.contact .right .name{
  margin-right: 10px;
}
.contact .right .email{
    margin-left: 10px;
}
.contact .right .textarea{
    height: 80px;
}
.contact .column  .field input,
.contact .right .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins",sans-serif;
}
.contact-content .left p{
    text-align: justify;
}
.contact .left .icons .row{
    display: flex;
    
}
.contact .left .icons .row i{
    font-size: 2rem;
    margin-top: 1rem;
    color: #0ef;
}
.contact .left .icons .row .info{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.contact .right{
    margin-top:-5rem;
}
/* footer start here--------------------------------------------------------------------- */
.footer{
    background-color: black;
    height: 52px;
    width: 100vw;
    text-align: center;
    
}
.about2{
position: relative;
top: 10%;
left: 10%;
}
   

   /* Target screens smaller than 768px */
@media  (max-width:768px) {
    .home{
    width: 768px;
     margin-left:20px;
    }
    .skill-content{
        display: block;
        height: 100vh;
    }
   .skill-content .column-right{
height: fit-content;
width: 100%;

   }
   .skill-content .column-left{
    height: fit-content;
    width: 200%;
    padding: 20px;
       }
       .contact{
        padding-top: 100px;
        width: 100vw;
        height: fit-content;
       }
       .footer{
        display: inline-block;
        height:20vw ;
        width: 100%;
       }
}
